# ignore __pycache__ files
__pycache__

# main file
main2.py 
main3.py
mainV1.py
main4.py
__main__.py

# test files for problem configs
temp/
solution/

# virtual env
test_env/
venv/

# docs website
docs/build

# README.rst of the docs
README.rst